In [1]:
1+1

2

In [2]:
x = 1

0 < x and x <10

True

In [3]:
0 < x or x < 0

True

In [4]:
x = 1

0 < x or x < 10

True

In [5]:
for x in range(1,21):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
'名前は{0}、年齢は{1}です'. format('太郎', 100)

'名前は太郎、年齢は100です'

In [7]:
'名前は' + '太郎' + '、年齢は' + str(100) + 'です'

'名前は太郎、年齢は100です'

SQL インジェクション　　下みたいな方法でやらないと言うこと。 +が多いいと、セキュリティに問題があるため。globalizaitionとlocalization（日本語のプログラム、上の方がlocalization）

In [8]:
myStr = input('何か入力してください:')
print('入力されたのは「{0}」です。 '.format(myStr))

何か入力してください:こんにちは
入力されたのは「こんにちは」です。

In [9]:
# coding:utf-8
print(' こんにちは')

#身長の入力
h = input(' 身長（m）？ ')
print(' 身長は{0}m ですね'.format(h))

#体重の入力
w = input(' 体重（kg）？ ')
print(' 体重は{0}kg ですね'.format(w))

#BMI の計算
bmi = float(w) / float(h) ** 2

#BMI の表示
print('BMI は{0}です'.format(bmi))
print(' 約{0:.1f}です'.format(bmi))

 こんにちは
 身長（m）？ 179
 身長は179m ですね
 体重（kg）？ 68
 体重は68kg ですね
BMI は0.0021222808276895226です
 約0.0です

float 入力されたものを数値とする

In [10]:
h = '1.7'

float(h) + 1

2.7

In [11]:
sample_dic = {'A':100,'B':200}

for v in sample_dic:
  print(v)

A
B

In [19]:
for x in range(1.11):
  if x == 5:
    break
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [18]:
'あ'.encode('utf-8')

b'\xe3\x81\x82'